@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #31525b;
  min-height: 100vh;
}
.bulle {
  background-color: #b3dee5;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.toggleProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: absolute;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.menu.active .toggleProfil {
  scale: 0.8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: none;
          animation: none;
}
.menu.active .toggleProfil .infoBulle {
  display: none;
}
.toggleProfil::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transform: translate(-40%, -40%);
      -ms-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(transparent),
    color-stop(#ffa101),
    color-stop(#ffa101),
    color-stop(#ffa101),
    to(transparent)
  );
  background: -o-linear-gradient(
    transparent,
    #ffa101,
    #ffa101,
    #ffa101,
    transparent
  );
  background: linear-gradient(
    transparent,
    #ffa101,
    #ffa101,
    #ffa101,
    transparent
  );
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}
.toggleProfil::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #b3dee5;
  border-radius: 50%;
}
.toggleProfil img {
  position: absolute;
  top: -5px;
  left: 5px;
  border: 50%;
  z-index: 1;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}
.toggleProfil:hover {
  -webkit-transform: translateY(-10px) scale(1.1);
      -ms-transform: translateY(-10px) scale(1.1);
          transform: translateY(-10px) scale(1.1);
}
.toggleProfil .infoBulle {
  position: absolute;
  width: 400px;
  height: 200px;
  top: -110px;
  left: 120px;
  display: none;
  background: no-repeat center/70% url("./img/bulle.png");
}
.toggleProfil .infoBulle .infobulleContent {
  position: relative;
  text-align: center;
  top: -10px;
  z-index: 1;
  font-weight: 500;
}
.toggleProfil:hover .infoBulle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("./img/bulle.png");
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: bubleAnimate 0.5s linear;
          animation: bubleAnimate 0.5s linear;
}
@-webkit-keyframes bubleAnimate {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bubleAnimate {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.menu {
  position: relative;
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}
.menu .submenu {
  position: absolute;
  left: 200px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition-delay: calc(0.2s * var(--i));
       -o-transition-delay: calc(0.2s * var(--i));
          transition-delay: calc(0.2s * var(--i));
  opacity: 0;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.3);
}
.menu .submenu::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transform: translate(-40%, -40%);
      -ms-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(transparent),
    color-stop(#ffa101),
    color-stop(#ffa101),
    color-stop(#ffa101),
    to(transparent)
  );
  background: -o-linear-gradient(
    transparent,
    #ffa101,
    #ffa101,
    #ffa101,
    transparent
  );
  background: linear-gradient(
    transparent,
    #ffa101,
    #ffa101,
    #ffa101,
    transparent
  );
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.menu .submenu::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #b3dee5;
  border-radius: 50%;
}
.menu.active .submenu {
  opacity: 1;
  -webkit-transform: rotate(calc(360deg / 5 * var(--i))) translateX(-300px);
      -ms-transform: rotate(calc(360deg / 5 * var(--i))) translateX(-300px);
          transform: rotate(calc(360deg / 5 * var(--i))) translateX(-300px);
}
.menu.active:hover .submenu {
  cursor: pointer;
}
.menu .submenu img {
  -webkit-transform: rotate(calc(360deg / -5 * var(--i))) scale(0.8);
      -ms-transform: rotate(calc(360deg / -5 * var(--i))) scale(0.8);
          transform: rotate(calc(360deg / -5 * var(--i))) scale(0.8);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 8px;
  left: 8px;
  border: 50%;
  z-index: 1;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}
.menu .submenu span {
  display: block;
  position: absolute;
  z-index: 1;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  opacity: 0;
  color: #b3dee5;
  transition: 0.5s;
}
.menu .submenu:hover span {
    opacity: 1;
    transform: translateY(-70px);
}
.menu .submenu #span2 {
    transform: rotate(-72deg) translateX(-50px);
}
.menu .submenu:hover #span2 {
    transform: translateX(135px) translateY(110px) rotate(-72deg);
}
.menu .submenu #span3 {
    transform: rotate(-144deg) translateX(-32px);
}
.menu .submenu:hover #span3 {
    transform: translateX(-80px) translateY(174px) rotate(-144deg);
}
.menu .submenu #span4 {
    transform: rotate(-217deg) translateX(40px);
}
.menu .submenu:hover #span4 {
    transform: translateX(88px) translateY(170px) rotate(-217deg);
}
.menu .submenu #span5 {
    transform: rotate(72deg) translateX(56px);
}
.menu .submenu:hover #span5 {
    transform: translateX(138px) translateY(16px) rotate(72deg);
}
.menu .submenu:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: rotate(calc(360deg / -5 * var(--i))) scale(1);
      -ms-transform: rotate(calc(360deg / -5 * var(--i))) scale(1);
          transform: rotate(calc(360deg / -5 * var(--i))) scale(1);
}
.menu .modal {
  position: fixed;
  width: 90%;
  height: 90%;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 3;
  -webkit-transition: -webkit-animation 0.5s;
  transition: -webkit-animation 0.5s;
  -o-transition: animation 0.5s;
  transition: animation 0.5s;
  transition: animation 0.5s, -webkit-animation 0.5s;
  -webkit-animation: modal 0.5s linear;
          animation: modal 0.5s linear;
}
@-webkit-keyframes modal {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 40%;
    height: 40%;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}
@keyframes modal {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 40%;
    height: 40%;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}
.menu .modal .container {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal .container .spanClose {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 5px;
  width: 40px;
  height: 40px;
  margin: 2px;
  color: #b3dee5;
  font-weight: 900;
  font-size: 2em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.modal .container .spanClose:hover {
  cursor: pointer;
  color: #ffa101;
}
.modal .content {
  margin: 30px;
  width: 90%;
  height: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.modal .content h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}
.boxBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.boxBackground div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid #ffa101;
  border-radius: 20px;
}
.boxBackground div:nth-child(1) {
  top: 12%;
  left: 42%;
  -webkit-animation: boxAnimate 10s linear infinite;
          animation: boxAnimate 10s linear infinite;
}
.boxBackground div:nth-child(2) {
  top: 70%;
  left: 50%;
  border: 6px solid #b3dee5;
  -webkit-animation: boxAnimate 12s linear infinite;
          animation: boxAnimate 12s linear infinite;
}
.boxBackground div:nth-child(3) {
  top: 17%;
  left: 6%;
  -webkit-animation: boxAnimate 9s linear infinite;
          animation: boxAnimate 9s linear infinite;
}
.boxBackground div:nth-child(4) {
  top: 20%;
  left: 60%;
  border: 6px solid #b3dee5;
  -webkit-animation: boxAnimate 10s linear infinite;
          animation: boxAnimate 10s linear infinite;
}
.boxBackground div:nth-child(5) {
  top: 67%;
  left: 10%;
  -webkit-animation: boxAnimate 6s linear infinite;
          animation: boxAnimate 6s linear infinite;
}
.boxBackground div:nth-child(6) {
  top: 80%;
  left: 30%;
  border: 6px solid #b3dee5;
  -webkit-animation: boxAnimate 6s linear infinite;
          animation: boxAnimate 6s linear infinite;
}
.boxBackground div:nth-child(7) {
  top: 50%;
  left: 80%;
  -webkit-animation: boxAnimate 12s linear infinite;
          animation: boxAnimate 12s linear infinite;
}
.boxBackground div:nth-child(8) {
  top: 32%;
  left: 25%;
  border: 6px solid #b3dee5;
  -webkit-animation: boxAnimate 10s linear infinite;
          animation: boxAnimate 10s linear infinite;
}
.boxBackground div:nth-child(9) {
  top: 80%;
  left: 70%;
  -webkit-animation: boxAnimate 7s linear infinite;
          animation: boxAnimate 7s linear infinite;
}
.boxBackground div:nth-child(10) {
  top: 20%;
  left: 80%;
  border: 6px solid #b3dee5;
  -webkit-animation: boxAnimate 5s linear infinite;
          animation: boxAnimate 5s linear infinite;
}
.boxBackground div:nth-child(11) {
  top: 86%;
  left: 86%;
  border: 6px solid #b3dee5;
  -webkit-animation: boxAnimate 5s linear infinite;
          animation: boxAnimate 5s linear infinite;
}
@-webkit-keyframes boxAnimate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3) translateY(-90px) rotate(360deg);
            transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes boxAnimate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3) translateY(-90px) rotate(360deg);
            transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
